body{
	font-family: 'Roboto', sans-serif;
}
.goods-container{
	border: 2px solid gray;
	border-radius: 5px;
	width: 90%;
	height: 90%;
	margin-top: 5%;
	margin-left: 5%;
}
.menu-item:hover{
	
	box-shadow: 5px 5px 13px 0px #6f6f6f;
}
.menu-item{	
	transition: 0.3s;
}
.catalog{
	width: 80%;
	height: 30%;
	margin: 2%;
}
.sub-catalog, .cat1{
	display: inline-block;
	width: 230px;
	text-align: center;
	vertical-align: top;
}
.cat1{

}
.sub-catalog{
	
}
.menu-item{
	width: 200px;
    height: 25px;
    margin: 5px;
    color: white;
    background-color: blueviolet;
    padding-top: 5px;
    padding-left: 10px;
    cursor: pointer;
}
.goodItem{
	width: 250px;
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 3px;
	padding: 3px;

}
.goodItem>span{
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 5px;
	font-size: 14px;	
}
.item_name{
	font-weight: bold;
	width: 100%;
	height: 30px;
	vertical-align: top;
}
.item_input>input{
	width: 50px;
}
.item_cart{
	float: right;
	padding: 5px;
	cursor: pointer;

}
